* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Poppins;
}

/* Add to your CSS */
.vote-percentage {
  transition: all 0.3s ease-in-out;
}

.progress-bar {
  transition: width 0.3s ease-in-out;
}
