@font-face {
  font-family: neue montreal;
  src: url(../../assets/fonts/NeueMontreal-Medium.otf);
}
.login-btn {
  background-color: #245bdf;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  z-index: 999;
}

.hamburger span {
  width: 24px;
  height: 3px;
  background-color: white;
  transition: 0.4s;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -6px);
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters span {
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
}

.filters img {
  width: 20px;
}

.filters ion-icon {
  font-size: 20px;
  color: white;
}

.refresh ion-icon {
  font-size: 30px;
}

.op-card-icons ion-icon {
  color: #9aa0b2;
}

.gradient-border {
  position: relative;
  padding: 12px 24px;
  /* background: linear-gradient(
    to right,
    #40128b,
    #9336b4,
    #dd58d6
  );  */
  color: #fff;
  text-align: center;
  border-radius: 16px; /* Rounded corners for the inner content */
  z-index: 1; /* Ensures content stays on top */
  overflow: hidden; /* Keeps everything within rounded corners */
  border: 4px solid #fff;
}

/* .gradient-border::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px; */
/* background: linear-gradient(
    to left,
    #ffe79b,
    #dd58d6,
    #9336b4,
    #40128b
  );  */
/* border: 2px solid #fff;
  border-radius: 16px; 
  z-index: -1; 
} */

.gradient-border::after {
  content: "";
  position: absolute;
  top: 0px; 
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(to right, #54b1f3, #7b33e0);
  border-radius: 12px; /* Match the main border radius */
  z-index: -1; /* Ensures it goes behind the content */
}

@media (max-width: 768px) {
  .nav {
    gap: 10px;
  }
  .nav img {
    width: 2.5rem;
  }
  .login-btn {
    font-size: 16px;
    padding: 6px 16px;
  }
  .filters {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    width: fit-content;
    margin: 10px auto;
  }
  .filters span {
    font-size: 0.6em;
  }
}
