.slider-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background: linear-gradient(to right, #ffe79b, #dd58d6, #9336b4, #40128b);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: white;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.text-section {
  text-align: left;
}

.start-button {
  cursor: pointer;
  font-family: Inter;
  font-weight: bold;
  margin-top: 20px;
  font-size: 1.75em;
  padding: 4px 24px;
  color: #ffffff;
  background: #ff2988;
  border-radius: 12px;
  /* border: 2px solid #bf97ff; */
}

@media (max-width: 768px) {
  .start-button {
    margin-top: 10px;
    font-size: 1.5em;
  }
}
